* {
  padding: 0;
  margin: 0;
}
header {
  background-color: black;
  color: white;
  height: 50px;
}

header p {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

/* game screen styling */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameScreen {
  background-color: white;
  color: rgb(18, 17, 17);
  margin-top: 10px;
  width: 25rem;
  height: 25rem;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.game {
  width: 40vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.text {
  margin-bottom: 5px;
}

form {
  margin-top: 2rem;
}
#inputNumber {
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 16rem;
  height: 1.5rem;
}

/* previous guessed number */

.previous {
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}

#previousNumber {
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
/* player won */

.playerGameScreen {
  background-color: white;
  color: rgb(18, 17, 17);
  margin-top: 10px;
  width: 25rem;
  height: 25rem;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* coppied button */
.button-74 {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
/* 
@media (max-width:394px){
   p{
    color: pink;
    font-size: 5px;
   }
} */
